<mat-card class="mb-3 mat-elevation-z4" [class.alert-primary]="isEditMode">
    <mat-card-title>
        <div 
        [ngClass]="{
            'check-dot-true': passObjCa.checkedIn,
            'check-dot-false': !passObjCa.checkedIn,
            'form-group': !isEditMode
        }"
        class="mb-0">
            <input #nameControl [disabled]="!isEditMode" [value]="passObjCa.fullname" type="text" class="form-control">
        </div>
    </mat-card-title>
    <mat-card-content>
       <p>CheckIn Date: {{passObjCa.checkInDate ? (passObjCa.checkInDate | date) : 'Not Checked In yet !'}}</p>
       <p class="mb-0">Children: {{passObjCa.children ? passObjCa.children.length : 0}}</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div class="p-2">
            <button
            (click)="isEditMode=true" 
            *ngIf="!isEditMode"
            mat-raised-button color="primary">Edit</button>
            <button 
            *ngIf="isEditMode"
            (click)="onPassUpdate()"
            mat-raised-button color="primary">Done</button>
            <button
            (click)="onPassDelete()" 
            [disabled]="isEditMode"
            mat-raised-button color="warn" class="ml-2">Delete</button>
        </div>
    </mat-card-actions>
</mat-card>