body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f5f5;
}

.postForm {
    position: relative;
}

.postForm .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
}